# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/__pycache__
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/__pycache__/__init__.cpython-34.pyc
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/__pycache__/__init__.cpython-35.pyc
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/__pycache__/Globals.cpython-34.pyc
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/__pycache__/Globals.cpython-35.pyc
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/__pycache__/Gyrfalcon.cpython-35.pyc
__pycache__
__init__.cpython-34.pyc
__init__.cpython-35.pyc
Globals.cpython-34.pyc
Globals.cpython-35.pyc
Gyrfalcon.cpython-35.pyc
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0002_auto_20160204_1728.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0003_auto_20160205_0954.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0004_auto_20160304_0941.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0005_auto_20160304_0941.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0006_auto_20160304_1558.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0007_auto_20160304_1558.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0008_auto_20160304_1558.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0009_auto_20160304_1559.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0010_auto_20160304_1603.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0011_auto_20160304_1606.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0012_auto_20160304_1607.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0013_auto_20160304_1607.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0014_auto_20160611_2351.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0015_auto_20160611_2356.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0016_auto_20160612_0001.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0017_auto_20160612_0003.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0018_auto_20160612_0031.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0019_auto_20160612_0035.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0020_auto_20160612_0938.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0021_auto_20160612_0938.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0022_auto_20160612_0958.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0023_auto_20160612_0959.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0024_auto_20160612_1004.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0025_auto_20160612_1956.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0026_auto_20160612_2000.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0027_auto_20160612_2001.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0028_auto_20160612_2001.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0029_auto_20160612_2107.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0030_auto_20160612_2110.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0031_auto_20160612_2124.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0032_auto_20160612_2124.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0033_auto_20160612_2125.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0034_auto_20160612_2312.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0035_auto_20160612_2317.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0036_auto_20160612_2319.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0037_auto_20160612_2319.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0038_auto_20160612_2319.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0039_auto_20160612_2331.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0040_auto_20160612_2331.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0041_auto_20160612_2332.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0042_auto_20160612_2332.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0043_auto_20160614_2143.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0044_auto_20160614_2144.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0045_auto_20160614_2145.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0046_auto_20160614_2150.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0047_auto_20160614_2151.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0048_auto_20160614_2152.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0049_auto_20160614_2154.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0050_auto_20160614_2201.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0051_auto_20160619_0526.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0052_auto_20160619_0528.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0053_auto_20160619_0529.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0054_auto_20160619_0934.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0055_auto_20160619_0937.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0056_auto_20160619_0947.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0057_auto_20160619_0947.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0058_auto_20160619_0949.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0059_auto_20160619_1000.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0060_auto_20160619_1001.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0061_auto_20160619_1001.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0062_auto_20160619_1004.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0063_auto_20160619_1005.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0064_auto_20160619_1005.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0065_auto_20160619_1005.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0066_auto_20160619_1006.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0067_auto_20160619_1007.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0068_auto_20160619_2037.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0069_auto_20160619_2114.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0070_auto_20160619_2114.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0071_auto_20160619_2115.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0072_auto_20160619_2134.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0073_auto_20160619_2135.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0074_auto_20160619_2153.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0075_auto_20160619_2202.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0076_auto_20160619_2203.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0077_auto_20160619_2203.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0078_auto_20160619_2203.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0079_auto_20160619_2203.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0080_auto_20160619_2208.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0081_auto_20160619_2211.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0082_auto_20160619_2212.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0083_auto_20160619_2213.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0084_auto_20160619_2214.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0085_auto_20160619_2214.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0086_auto_20160619_2214.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0087_auto_20160619_2217.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0088_auto_20160619_2217.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0089_auto_20160619_2217.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0090_auto_20160619_2217.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0091_auto_20160619_2218.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0092_auto_20160619_2218.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0093_auto_20160619_2220.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0094_auto_20160619_2221.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0095_auto_20160619_2232.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0096_auto_20160619_2233.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0097_auto_20160619_2233.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0098_auto_20160619_2234.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0099_auto_20160619_2236.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0100_auto_20160619_2236.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0101_auto_20160619_2249.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0102_auto_20160619_2251.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0103_auto_20160619_2251.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0104_auto_20160619_2253.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0105_auto_20160619_2254.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0106_auto_20160619_2254.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0107_auto_20160619_2255.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0108_auto_20160619_2256.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0109_auto_20160619_2257.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0110_auto_20160619_2257.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0111_auto_20160619_2259.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0112_auto_20160619_2259.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0113_auto_20160619_2300.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0114_auto_20160619_2300.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0115_auto_20160619_2305.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0116_auto_20160619_2306.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0117_auto_20160619_2306.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0118_auto_20160619_2306.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0119_auto_20160619_2307.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0120_auto_20160619_2307.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0121_auto_20160619_2307.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0122_auto_20160619_2308.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0123_auto_20160620_0919.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0124_auto_20160620_1945.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0125_auto_20160620_1946.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0126_auto_20160620_1948.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0127_auto_20160620_2156.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0128_auto_20160620_2158.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0129_auto_20160620_2207.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0130_auto_20160620_2220.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0131_auto_20160620_2249.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0132_auto_20160620_2250.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0133_auto_20160620_2250.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0134_auto_20160620_2250.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0135_auto_20160620_2251.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0136_auto_20160620_2251.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0137_auto_20160620_2251.py
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/0138_auto_20160620_2251.py
Code/.DS_Store
Code/Gyrfalcon/Gyrfalcon/.DS_Store
Code/Gyrfalcon/Gyrfalcon/engine/.DS_Store
Code/Gyrfalcon/Gyrfalcon/engine/platforms/Darwin/.DS_Store
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/.DS_Store
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/.DS_Store
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/.DS_Store
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/.DS_Store
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/Account/migrations/.DS_Store
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/backend/__pycache__
Code/Gyrfalcon/Gyrfalcon/Gyrfalcon/main/backend/backend/.DS_Store
